.Todo {
  display: flex;
  padding: 1.5rem 4.3rem;
  justify-content: space-between;
  /* border-bottom: 1px solid #fff; */
  background-color: #f89999;
  margin-bottom: 0.5rem;
}

.Todo button {
  padding: 0.3rem;
  color: #fff;
  margin-left: 0.5em;
  margin-right: 0.6em;
  cursor: pointer;
  border:none;
  font-size: 1rem;
  background: none;
}

.Todo .btn-save {
  background-color: red;
  padding: 0.5rem;
  font-size: 0.7rem
}

.Todo form input {
  padding: 0.4rem;
}

.completed {
  text-decoration: line-through;
  color: black;
}